{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}

<div id="loader-div">
  <div class="loader">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 66 66"
      height="100px"
      width="100px"
      class="spinner"
    >
      <circle
        stroke="url(#gradient)"
        r="20"
        cy="33"
        cx="33"
        stroke-width="1"
        fill="transparent"
        class="path"
      ></circle>
      <linearGradient id="gradient">
        <stop stop-opacity="1" stop-color="#fe0000" offset="0%"></stop>
        <stop stop-opacity="0" stop-color="#af3dff" offset="100%"></stop>
      </linearGradient>
    </svg>
  </div>
</div>
<div>
  <!-- Response Box -->
  <div
    style="
      max-width: 80rem;
      display: block;
      margin: auto;
      min-height: 150px;
      display: flex;
      font-size: 1.2rem;
      color: #495057;
    "
    class="response mb-4 p-2 rounded"
  ></div>

  <!-- Input Box -->
  <div
    class="mb-4 p-2 rounded bg-white shadow"
    style="max-width: 36rem; display: block; margin: auto; margin-top: 4rem"
    id="text"
  >
    <form>
      <textarea
        required
        id="prompt"
        style="
          resize: none;

          height: 120px;
        "
        class="form-control mb-3"
        placeholder="Enter your prompt here..."
      ></textarea>
      <input type="file" class="form-control" id="fileInput" />
      <br />
      <button class="btn btn-primary w-100">Send</button>
    </form>
  </div>
</div>

<div
  id="status"
  class="card response"
  style="
    border: none;
    max-width: 36rem;
    display: block;
    margin: auto;
    margin-top: 4rem;
  "
>
  <p>Status Code: <span id="statusCode"></span></p>
  <p>Input Tokens: <span class="text-info" id="inputTokens"></span></p>
  <p>Output Tokens: <span class="text-warning" id="outputTokens"></span></p>
  <p>Total Tokens: <span class="text-danger" id="totalTokens"></span></p>
</div>
{% endblock %}
